body {
	padding:10px 5px 10px 5px; 
	text-indent:15px;
}

/*.page-header {
	background-color: #ff3300;
}*/

.registro {
	background-image: url("wallpaper.png");
}

.gestion {
	float: right;
}

.volver{
	text-align: center;
	vertical-align: center;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 50px;
z-index: 100;
color: #ffffff;
background-color: #b0c4de;
}

.table-hover tbody tr:hover,
            .table-hover tbody tr:hover td,
            .table-hover tbody tr:hover th{
                background:#ffffff !important;
            }

/*.page-header {
	background-color: #eee;
}*/

.container {
	background-color: #b0c4de;
}

.header {
	text-align: center;
}

.centrado {
	text-align: center;
}

.justificado {
	text-align: justify;
}

#nombre {
	width: 12%;
}

.enumeracion {
	padding:0px 0px 0px 15px; 
}	


